<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="color-scheme" content="dark light">
  {% block head %}
  <title>{% block title %}{% endblock %} — Tremolog</title>
  {% endblock %}
  <link rel="icon" href="{{url_for('static', filename='images/logo.png')}}" />
  <link rel="stylesheet" href="{{url_for('static', filename='styles/app.css')}}" />
</head>

<body>

  {% block breadcrumbs %}
  {% endblock %}

  {% block content %}
  {% endblock %}

  <script src="{{url_for('static', filename='scripts/app.js')}}"></script>
</body>

</html>
