{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<header>
  <h1>Tremolog</h1>
  <h2>Micro:blog via Telegram Bot</h2>
  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">About</a></li>
  </ul>
</header>

<main>
  <article>
    <p>
      Tremolog is a micro:blogging service that uses Telegram as its admin backend.
      Post short text, voice, photos and videos on your homepage.
      
      <div class="timestamp">17 Oct, 2022 - 01:35</div>
    </p>
  </article>  
</main>

<footer>
  <p>© 2022 Tremolog Devs</p>
  <p class="visits">{{ counter }} views</p>
</footer>
{% endblock %}