{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<header>
  <h1>Tremolog</h1>
  <h2>Micro:blog via Telegram Bot</h2>
  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">About</a></li>
  </ul>
</header>

<main>
  {% for post in posts %}
  <article>
    <p>
      {{ post.text }}

    <div class="timestamp">{{post.created_at.astimezone().replace(tzinfo=None) | humanize_naturaldelta}} ago.</div>
    </p>
  </article>
  {% endfor %}
</main>

<footer>
  <p>© 2022 Tremolog Devs</p>
  <p class="visits">{{ counter }} views</p>
</footer>
{% endblock %}